<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ezeego</title>

    {%load bootstrap4 %} {% bootstrap_css %} {% bootstrap_javascript jquery='full'%}

    {%block head%}{% endblock %}
    
  </head>
  <body>
    <nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-primary">
      
      <a class="navbar-brand" href="/">Ezeego</a>
      {%if not request.user.is_authenticated%}
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item {% if request.GET.next != '/carrier/' %} active {% endif %}">
            <a class="nav-link active" aria-current="page" href="/sign-in/?next=/client/">Client</a>
          </li>
          <li class="nav-item {% if request.GET.next == '/carrier/' %} active {% endif %}">
            <a class="nav-link active" aria-current="page" href="/sign-in/?next=/carrier/">Carrier</a>
          </li>
        </ul>
      </div>
      {%else%}

      
        <form class='form-inline'>
          <span class='mr-4'>{{request.user.get_full_name|title}}</span>
          <a href ='/sign-out' class='btn btn-outline-dark'>Sign Out</a>
        
      </form>
      
  
    {%endif%}
    </nav>

    {%block content%}{% endblock %}
    
   

    <footer class="text-center mt-5 mb-5">&copy Ezeego 2022</footer>

    <script src="" async defer></script>
  </body>
</html>
