{% extends 'base.html' %}




{%block content%}

<div class="container">
      
  <div class="col-lg-12">
    <h2 class="text-center mt-5 mb-5">welcome to Ezeego</h2>
  </div>
  <div class="col-lg-12" mb-4>
  <div class='row'>
    <div class="card col-lg-6">
      <div class="card-body">
        <h5 class="card-title">Client</h5>
        <p class="card-text">
          Ezeego provides you with amazing features and services if you
          sign up as a client in our platform.
        </p>
        <a href="/client/" class="btn btn-primary">Take Tour</a>
      </div>
    </div>
      
    <div class="card col-lg-6">
      <div class="card-body">
        <h5 class="card-title">Carrier</h5>
        <p class="card-text">
          Want a job? Ezeego connects with various clients across the
          country
        </p>
        <a href="/carrier/" class="btn btn-primary">Take Tour</a>
      </div>
    </div>

  </div> 
 
  </div>

</div>

{%endblock%}
 